<%= wiki_page_style %>

<h1><%=wt '%{page_title} - Comparing versions %{old_version} and %{new_version}', :page_title => h( @page.title ), :old_version => @old_version.number, :new_version => @new_version.number %></h1>

<%=wt 'Changes list:' %>

<%= wiki_paginate @versions do%>
  <%= wiki_page_history @page, @versions %>
<% end %>

<%=wt 'Changes in content:' %>

<div class="wiki_diff">
  <%= wiki_diff @old_version.content, @new_version.content %>
</div>
