<%= wiki_page_style %>

<h1><%=wt 'Editing wiki page' %></h1>

<% if params[:preview] %>
<div class="wiki_content">
  <%=wiki_content @page.content %>
</div>
<% end %>

<% wiki_page_form do |f| %>
  <%= f.hidden_field :previous_version_number, :value => f.object.last_version_number %>
  <%= hidden_field_tag :path, @page.path %>
  
  <p><%=wt 'Title:' %><br /><%= f.text_field :title %></p>
  <p><%=wt 'Content:' %><br /><%= f.text_area :content %></p>
  <p><%=wt 'Comment on this change (optional):' %><br /><%= f.text_field :comment %></p>
  
  <input type="submit" name="save" value="<%=wt 'Save page' %>" class="submit" />
  <input type="submit" name="preview" value="<%=wt 'Preview' %>" class="submit" />
  <input type="submit" name="cancel" value="<%=wt 'Cancel' %>" class="submit" />
<% end %>

<%= wiki_page_attachments(@page) %>

