<%= wiki_page_style %>

<h1><%=wt 'Creating a new wiki page' %></h1>

<%= wiki_page_form do |f| %>
  <%= f.hidden_field :previous_version_number, :value => f.object.last_version_number %>
  
  <p><%=wt 'Title:' %><br /><%= f.text_field :title %></p>
  <p><%=wt 'Content:' %><br /><%= f.text_area :content %></p>
  <%= f.hidden_field :comment, :value => 'First Revision'%>
  <%= hidden_field_tag :path, @page.path %>

  <input type="submit" value="<%=wt 'Create page' %>" class="submit" />
<% end %>
