<% if @page.new_record? %>
  There are no page <%= @page.path %>. Do you want to <a href="<%=wiki_page_edit_path%>">create it</a>?
<% else %>
  <h1><%=h @page.title %></h1>
  <div class="links"><%= link_to 'Edit', wiki_page_edit_path %></div>
  <div class="content"><%=wiki_content @page.content %></div>
<% end %>