<% if @page.new_record? %>
  <%=_ 'There are no such page. Do you want to <a href="{{edit_url}}">create it</a>?', :edit_url => wiki_page_edit_path %>  
<% else %>
  <h1><%=h @page.title %></h1>
  
  <%= wiki_page_info %>
  <%= wiki_page_actions %>
  
  <div class="content"><%=wiki_content @page.content %></div>
<% end %>

<style>
.wiki_page_info {
  font-style: italic;
  color: #666;
}

.wiki_page_actions {
}

.wiki_page_actions ul,
.wiki_page_actions li {
  display: inline;
  margin: 0px;
  padding: 0px;
}


</style>