<% if @page.new_record? %>
  <%=_ 'There are no such page. Do you want to <a href="{{edit_url}}">create it</a>?', :edit_url => wiki_page_edit_path %>  
<% else %>
  <h1><%=h @page.title %></h1>
  
  <%= wiki_page_info %>
  <%= wiki_page_actions %>
  
  <div class="wiki_content"><%=wiki_content @page.content %></div>
<% end %>

<style>
.wiki_page_info {
  font-style: italic;
  color: #666;
  margin-left: 5px; 
  float: left;
}

.wiki_page_actions {
  text-align: right;
  width: 100%;
  padding: 0px;
}

.wiki_page_actions li {
  display: inline;
  margin: 0px;
  padding: 0px;
}

.wiki_content {
  border: 1px dashed #666;
  margin: 10px;
  padding: 10px;
}

</style>